@import "../../variables.css";


.delete-modal-window{
    position: relative;
    width: 20vw;
    background-color: var(--dark-bg);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: var(--light-primary);
}

.delete-modal-window hr{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--brown-light);
}

.delete-modal-buttons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.delete-modal-buttons button{
    border-radius: 5px;
    color: var(--light-primary);
    width: 80px;
    padding: 5px 0px;
}



@media (max-width: 1024px){
    .delete-modal-window{
        width: 30vw;
    }
}


@media (max-width: 768px){
    .delete-modal-window{
        width: 60vw;
    }
}


@media (max-width: 640px){
    .delete-modal-window{
        width: 75vw;
    }
}