@import "../variables.css";

.todo-card{
    width: 100%;
    border: 1px solid var(--brown-primary);
    border-radius: 10px;
    background-color: var(--dark-bg);
    padding: 10px;
    color: var(--light-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideDown 0.5s ease-out;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.todo-main{
    display: flex;
    width: 80%;
    align-items: center;
    gap: 20px;
    font-size: large;
}

.todo-content{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.toggle-done{
    border: none;
    padding-top: 5px;
}

.todo-edit-input{
    border: 1px solid var(--light-primary);
    background-color: var(--dark-primary);
    width: 100%;
    color: var(--light-primary);
    border-radius: 10px;
    font-size: 40px;
    outline: none;
    font-size: large;
    padding: 7px 10px;
}

.todo-buttons{
    display: flex;
    gap: 10px;
    align-items: center;
}

.todo-buttons button{
    background-color: var(--dark-secondary);
    border-radius: 5px;
}

.edit-btn{
    padding: 5px 5px 0px 5px;
}

.save-btn{
    padding: 5px 5px 1px 5px;
}
.delete-btn{
    padding: 5px 5px 2px 5px;
}

.disabled-btn:hover{
    transform: scale(100%);
    cursor: not-allowed;
}