@import "../variables.css";

.todo-card {
  width: 100%;
  border: 1px solid var(--brown-primary);
  border-radius: 10px;
  background-color: var(--dark-bg);
  padding: 10px 10px 7px 10px;
  color: var(--light-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-main {
  display: flex;
  width: 80%;
  align-items: center;
  gap: 20px;
  font-size: large;
}

.todo-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-desc {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.todo-info {
  display: flex;
  gap: 70px;
  align-items: center;
  flex-wrap: wrap;
}

.todo-info-item {
  display: flex;
  gap: 3px;
  align-items: center;
}

.toggle-done {
  border: none;
  padding-top: 5px;
}

.todo-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.todo-buttons button {
  background-color: var(--dark-secondary);
  border-radius: 5px;
}

.edit-btn {
  padding: 5px 5px 0px 5px;
}

.save-btn {
  padding: 5px 5px 1px 5px;
}
.delete-btn {
  padding: 5px 5px 2px 5px;
}

.disabled-btn:hover {
  transform: scale(100%);
  cursor: not-allowed;
}
