@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --dark-primary: #1b1a17;
    --dark-secondary: #242320;
    --dark-bg: #1f1e1b;
    --brown-primary: #a35709;
    --brown-light: #ff8303;
    --light-primary: #f0e3ca;
  }

  * {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[var(--dark-bg)] rounded-[10px] border border-[var(--brown-primary)] transition-all;
  }

  .btn-primary:hover {
    @apply cursor-pointer scale-[1.01];
  }

  .text-input {
    @apply w-full px-[10px] py-[5px] rounded-[5px] border border-[var(--brown-primary)] bg-[var(--dark-bg)];
  }

  .text-input:focus {
    @apply outline outline-[var(--brown-light)];
  }

  .modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    @apply fixed top-0 left-0 z-10 w-screen h-screen flex justify-center items-center;
  }
}

@layer utilities {
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .slide-down {
    animation: slideDown 0.5s ease-out;
  }
}
